.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    padding: .2rem 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.6);
    border-radius: 20px;
    animation: animate 2s ease-in forwards;
}
@keyframes animate {
    0% ,50% {
        opacity: .6
    }
    100%{
        opacity: 0
    }
}